/** @format */

footer {
     a {
          text-decoration: none;
          color: rgb(164, 163, 163);
     }

     .social-icon {
          display: inline-flex;
          width: 1.8rem;
          height: 1.8rem;
          margin-right: 0.3rem;
     }
     .fa-brands {
          font-size: 1.8rem;
          color: rgb(0, 168, 168);
     }
     .fa-brands:hover {
          color: rgb(23, 76, 234);
     }
}
