/** @format */
nav {
     height: 70px;
     width: auto;
     background-color: #f3f3f3;

     .navbar-brand img {
          height: 40px;
          width: auto;
     }
     // .Download {
     //      padding: 0.5rem;
     //      background-image: linear-gradient(90deg, orange, red);
     //      border: none;
     //      outline: none;
     // }
}
